.reviews {
  background-color: #f9ab2514;
  margin: 80px auto;
  padding: 0px 80px;
  position: relative;
  overflow: hidden;
  /* border: 2px solid red; */
}
.reviews-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  line-height: 30px;
  padding: 10px 0px;
  /* border: 2px solid black; */
}
.reviews-container h1 {
  font-size: 1.2rem;
  font-family: lato, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222;
}

.reviews-container p {
  font-size: 1.2rem;
  font-family: lato;
  font-weight: 700;
  color: #f4a419;
  letter-spacing: 0.6px;
}
.slider {
  overflow: hidden;
}
.slider ul {
  width: 370%;
  margin: 30px 0px;
  display: flex;
  padding-left: 10px;
  /* gap: 3px; */
  /* border: 2px solid green; */
  overflow-x: hidden;
  transition: all 1s;
  /* transform: translateX(-1050px); */
}
.slider ul li {
  /* border: 2px solid yellow; */
  max-width: 200%;
  padding: 2px;
  list-style: none;
}
.review-cards {
  /* width: 80%; */
  height: auto;
  line-height: 20px;
  /* position: relative; */
  background-color: #f9ab2500;
  padding: 2px;
  border-radius: 10px;
}

.left-arrow {
  background-color: #f9ac25;
  border-radius: 50%;
  width: 3.7%;
  padding: 14px;
  position: absolute;
  left: 25px;
  top: 65%;
  z-index: 5;
}
.right-arrow {
  background-color: #f9ac25;
  border-radius: 50%;
  width: 3.7%;
  padding: 14px;
  position: absolute;
  right: 25px;
  top: 65%;
  z-index: 5;
}
.review-cards p {
  font-size: 0.9rem;
  opacity: 0.7;
}
.review-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 10px;
}
.review-img img {
  width: 14%;
  height: 15%;
}
.review-img h5 {
  font-size: 0.7rem;
  font-weight: 400;
  font-family: lato;
}
.review-img h4 {
  font-family: lato;
}

@media screen and (max-width: 768px) {
  .reviews-container {
    padding: 2px;
  }

  .reviews-container h1 {
    font-size: 1.2rem;
  }

  .reviews-container p {
    font-size: 0.8rem !important;
    padding: 1.2px;
  }
  .button-20 {
    height: auto;
    width: auto;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1000px) {
  .left-arrow {
    padding: 7px;
  }
  .right-arrow {
    padding: 7px;
  }
  .slider ul li {
    padding: 2px;
  }
  .slider p,
  h4,
  h5 {
    font-size: 0.8rem;
    letter-spacing: 0.8px;
  }
}
@media screen and (max-width: 480px) {
  .reviews-container {
    width: 100%;
    padding: 16px 0px;
  }
  .reviews-container h1 {
    font-size: 1rem;
  }

  .reviews-container p {
    font-size: 0.8rem !important;
    padding: 1px;
  }
  .slider ul li {
    padding: 0px;
  }
  .slider p,
  h4,
  h5 {
    font-size: 0.7rem;
  }
  .review-img div h4 {
    font-size: 0.7rem;
  }
  .review-img div h5 {
    font-size: 0.6rem;
    font-family: sans-serif;
    font-weight: 300;
    white-space: nowrap;
  }
  .left-arrow {
    padding: 8px;
    width: 7%;
  }
  .right-arrow {
    padding: 8px;
    width: 7%;
  }
  .slider ul {
    gap: 3px;
  }
  .review-img img {
    width: 40%;
    height: 40%;
  }
}
